@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --s: 210, 50%, 50%;
    --sf: 210, 50%, 60%;
    --pf: 210, 50%, 70%;
    --p: 210, 50%, 80%;
    --a: 210, 50%, 90%;
    --header-height: 4rem; /* 64px default */
    --text-gray-100: rgb(243 244 246);
    --text-gray-200: rgb(229 231 235);
    --text-gray-800: rgb(31 41 55);
    --text-gray-900: rgb(17 24 39);
    --text-blue-400: rgb(96 165 250);
    --text-blue-600: rgb(37 99 235);
}

@media (min-width: 768px) {
    :root {
        --header-height: 5rem; /* 80px for desktop */
    }
}

/* Add this if you haven't already */
html, body {
    height: 100%;
}

@supports (color: oklch(0 0 0)) {
    .bg-custom-gradient {
      background-image: linear-gradient(90deg, hsl(var(--s)) 4%, color-mix(in oklch, hsl(var(--sf)), hsl(var(--pf))) 22%, hsl(var(--p)) 45%, color-mix(in oklch, hsl(var(--p)), hsl(var(--a))) 67%, hsl(var(--a)) 100.2%);
    }
  }

/* Theme transition */
html {
  transition: color-scheme 0.5s ease-in-out;
}

html[data-theme='dark'] {
  color-scheme: dark;
  --text-gray-100: rgb(243 244 246);
  --text-gray-200: rgb(229 231 235);
  --text-gray-800: rgb(243 244 246);
  --text-gray-900: rgb(243 244 246);
  --text-blue-400: rgb(96 165 250);
  --text-blue-600: rgb(96 165 250);
}

html[data-theme='light'] {
  color-scheme: light;
}
  